.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  background: rgba(4, 10, 30, 0.8);
  .ui-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    width: 70%;
    margin: auto;
  }
  input,
  button {
    margin-bottom: 10px;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 70%;
    padding: 50px;
  }
  header {
    font-weight: bold;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

a {
  color: inherit;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

small {
  color: lightgray;
}

.btn {
  background-color: white;
  // padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
  i {
    // padding-right: 0.3em;
  }
}

.danger {
  color: red;
}

.top-nav.auth {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-nav.auth .hover {
  cursor: pointer;
}

.top-nav.auth .restaurant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav.auth .regular {
  width: 100%;
  text-align: right;
}

.form-container {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form-container form input {
  margin-bottom: 10px;
}

.form-container {
  width: 100%;
}
.menu-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.menu-card img {
  width: 150px;
}

.menu-items {
  width: 100%;
}

.menu-description {
  display: flex;
  align-items: center;
}

.product-name {
  width: 300px;
  text-align: left;
  word-break: break-all;
}

.product-price {
  text-align: left;
}

.cart {
  padding: 10px;
}

.cart .product {
  display: flex;
  justify-content: space-between;
}

.total-price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-list {
  padding: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
