.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  background: rgba(4, 10, 30, 0.8);
  .ui-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    width: 70%;
    margin: auto;
  }
  input,
  button {
    margin-bottom: 10px;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 70%;
    padding: 50px;
  }
  header {
    font-weight: bold;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

a {
  color: inherit;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

small {
  color: lightgray;
}

.btn {
  background-color: white;
  // padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
  i {
    // padding-right: 0.3em;
  }
}

.danger {
  color: red;
}

.top-nav.auth {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-nav.auth .hover {
  cursor: pointer;
}

.top-nav.auth .restaurant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav.auth .regular {
  width: 100%;
  text-align: right;
}

.form-container {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form-container form input {
  margin-bottom: 10px;
}

.form-container {
  width: 100%;
}
.menu-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.menu-card img {
  width: 150px;
}

.menu-items {
  width: 100%;
}

.menu-description {
  display: flex;
  align-items: center;
}

.product-name {
  width: 300px;
  text-align: left;
  word-break: break-all;
}

.product-price {
  text-align: left;
}

.cart {
  padding: 10px;
}

.cart .product {
  display: flex;
  justify-content: space-between;
}

.total-price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-list {
  padding: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@keyframes slide-in {
  100% {
    opacity: 1;
    left: 50%;
  }
}

.restaurant-list {
  position: relative;
  width: 1000px;
  min-width: 350px;
  min-height: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-img {
  width: 40%;
  height: 500px;
  background: #fff;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  animation: fade-in 1s forwards 1;
}

.restaurant-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.tag {
  position: absolute;
  top: 20px;
  left: -10px;
  transform-origin: left;
  opacity: 0;
  transform: rotate(-90deg);
  text-transform: capitalize;
  color: #eae3d2;
  padding: 5px 10px;
  width: 100px;
  font-size: 18px;
  text-align: center;
  background: #292929;
  user-select: none;
  animation: tag 0.5s 1s forwards 1;
}

@keyframes tag {
  100% {
    opacity: 1;
    transform: rotate(-20deg);
  }
}

.restaurant-item {
  width: 60%;
  min-height: 500px;
  height: auto;
  background: #292929;
  padding: 40px;
  display: flex;
  justify-content: center;
  color: #eae3d2;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in 1s forwards 1;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.name {
  font-family: "dosis";
  text-transform: capitalize;
}

.info {
  font-size: 18px;
  line-height: 30px;
  margin: 50px 0;
}

.price {
  font-size: 70px;
  font-weight: 100;
  margin-bottom: 20px;
}

.btn-and-rating-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rating {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating img {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.btn {
  background: #eae3d2;
  color: #292929;
  border: none;
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #eedbaf;
}

@media (max-width: 1100px) {
  body::before {
    transform: translateX(-50%) skewX(-5deg);
  }
  .restaurant-list {
    flex-direction: column;
    width: 90%;
    margin: 5vh 0;
  }
  .restaurant-img {
    width: 100%;
    height: 300px;
  }
  .restaurant-item {
    width: 100%;
    min-height: auto;
  }
  .name,
  .price {
    font-size: 50px;
  }
  .info {
    font-size: 16px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
